.all-products-section {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

.products-container {
  margin-left: 30px;
  width: 70%;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  max-height: 100vh;
  overflow: auto;
}

.no-products-container,
.error-container,
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.no-products-img,
.error-img {
  width: 250px;
  height: auto;
}

.no-products-heading,
.error-heading {
  font-size: 20px;
  color: #171f46;
}

.no-products-description,
.error-description {
  font-size: 14px;
  color: #64748b;
}

@media screen and (min-width: 768px) {
  .no-products-img,
  .error-img {
    width: 400px;
  }

  .no-products-heading,
  .error-heading {
    font-size: 24px;
  }

  .no-products-description,
  .error-description {
    font-size: 18px;
    max-width: 466px;
  }
}
