.filters-group-container {
  margin-top: 16px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Better spacing */
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 25%;
    max-width: 280px;
    min-width: 240px;
    flex-shrink: 0;
  }
}

/* Search Input */
.search-input-container {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding: 8px 16px;
}

.search-input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.search-icon {
  color: #475569;
  width: 20px;
  height: 20px;
}

/* Category Styles */
.category-heading {
  font-size: 18px;
  font-weight: 700;
  color: #12022f;
}

.categories-list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.category-item {
  list-style: none;
  font-size: 16px;
  cursor: pointer;
  color: #64748b;
  transition: color 0.3s ease;
}

.category-item:hover,
.active-category-name {
  color: #0967d2;
}

/* Ratings */
.rating-heading {
  font-size: 18px;
  font-weight: 700;
}

.ratings-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rating-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rating-item:hover,
.active-rating {
  color: #0967d2;
}

.rating-img {
  max-width: 152px;
  height: 20px;
}

/* Clear Filters Button */
.clear-filters-btn {
  background-color: white;
  color: #0967d2;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid #0967d2;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.clear-filters-btn:hover {
  background-color: #0967d2;
  color: white;
}
