.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

.remove-all-btn {
  display: flex;
  align-self: flex-end;
  color: #0b69ff;
  background: transparent;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .remove-all-btn {
    font-size: 16px;
  }
}

.cart-item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0px 4px 16px 0px #eaebed;
}

@media screen and (min-width: 768px) {
  .cart-item {
    margin-bottom: 32px;
    padding: 24px 48px 24px 36px;
  }
}

.cart-product-image {
  width: 96px;
  height: 96px;
  border-radius: 4px;
}

.cart-item-details-container {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .cart-item-details-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.cart-product-title-brand-container {
  width: 250px;
}

.cart-product-title {
  color: #171f46;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .cart-product-title {
    font-size: 16px;
  }
}

.cart-product-brand {
  color: #64748b;
  font-family: "Roboto";
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .cart-product-brand {
    font-size: 12px;
  }
}

.cart-quantity-container {
  display: flex;
  align-items: center;
}

.quantity-controller-button {
  padding: 0;
}

.cart-quantity {
  color: #52606d;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  margin: 8px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .cart-quantity {
    font-size: 18px;
    margin: 0 16px;
  }
}

.total-price-remove-container {
  display: flex;
  align-items: center;
}

.cart-total-price {
  color: #0b69ff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  min-width: 100px;
}

@media screen and (min-width: 768px) {
  .cart-total-price {
    font-size: 18px;
  }
}

.remove-button {
  background-color: transparent;
  color: #334155;
  font-family: "Roboto";
  font-size: 10px;
  line-height: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .remove-button {
    display: none;
  }
}

.delete-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 32px;
}

@media screen and (max-width: 767px) {
  .delete-button {
    display: none;
  }
}
